{% extends 'home/homebase.html' %}

{% block title %}我的流程{% endblock %}

{% block styles %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for("static",filename="css/home/index.css") }}">

{% endblock %}

{% block page_content %}
      <div class="panel panel-primary"><br><br><br><br><br><br>
        <div class="panel-heading text-center">数据提交失败，请联系管理员</div>

    </div>
{% endblock %}

{% block scripts %}
    {{ super() }}
    {#   插入成功提示#}
    <script>
        $(document).ready(function () {
            $._messengerDefaults = {
                extraClasses: 'messenger-fixed messenger-theme-future messenger-on-top ',
                theme: 'flat'
            };
            {% for msg in get_flashed_messages() %}
                $.globalMessenger().post({
                    message: "{{msg}}",//提示信息
                    type: 'error',//消息类型。error、info、success
                    hideAfter: 4,//多长时间消失
                    showCloseButton: true,//是否显示关闭按钮
                    hideOnNavigate: true //是否隐藏导航
                })
            {% endfor %}
        });
    </script>

{% endblock %}




