#nav {
    position: fixed;
    width: 10%;
    left: 0px;
    top: 70px;
    bottom: 0px;
    padding-top: 40px;
    margin: 0;
    overflow: auto;
    border-right: 2px solid lightgrey;
    background: #161824;
    color: #666666;
    font-size: 16px;
}

.two_bar {
    list-style-type: none;
    display: none;
    /*text-align: center;*/
    font-size: 14px;
    background-color: white;
    color: black;
    border-bottom: 1px solid #ffffff;
    border-radius: 4px;
    line-height: 35px;
    overflow: hidden;


}