{% extends 'home/homebase.html' %}

{% block title %}我的所有流程{% endblock %}

{% block styles %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for("static",filename="css/home/index.css") }}">

{% endblock %}

{% block page_content %}
    <div class="panel panel-primary">
        <div class="panel-heading text-center">我的所有流程</div>
        <table class="table table-striped table-bordered table-hover table-responsive text-left" id="table"
               data-resizable="true">
            <thead>
            <tr>
                <th>序号</th>
                <th>流程名称</th>
                <th>流程总数量</th>
                <th>运行中数量</th>
                <th>查看详情</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>1</td>
                <td>公务用车流程申请</td>
                <td>{{ num.p1 }}</td>
                {% if num.p12>0 %}
                <td class="warning">{{ num.p12 }}</td>
                {% else %}
                <td>{{ num.p12 }}</td>
                {% endif %}
                <th><a href="{{ url_for("home.carindex") }}">查看详情</a></th>
            </tr>
            <tr>
                <td>2</td>
                <td>快递流程申请</td>
                <td>{{ num.p2 }}</td>
                {% if num.p22>0 %}
                <td class="warning">{{ num.p22 }}</td>
                {% else %}
                <td>{{ num.p22 }}</td>
                {% endif %}
                <th><a href="{{ url_for("home.packageindex") }}">查看详情</a></th>
            </tr>
            </tbody>
        </table>
    </div>
{% endblock %}


{% block scripts %}
    {{ super() }}
    {#   插入成功提示#}
    <script>
        $(document).ready(function () {
            $._messengerDefaults = {
                extraClasses: 'messenger-fixed messenger-theme-future messenger-on-top ',
                theme: 'flat'
            };
            {% for msg in get_flashed_messages() %}
                $.globalMessenger().post({
                    message: "{{msg}}",//提示信息
                    type: 'error',//消息类型。error、info、success
                    hideAfter: 3,//多长时间消失
                    showCloseButton: true,//是否显示关闭按钮
                    hideOnNavigate: true //是否隐藏导航
                })
            {% endfor %}
        });
    </script>

{% endblock %}

