{% extends 'home/homebase.html' %}

{% block title %}我的流程{% endblock %}

{% block styles %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for("static",filename="css/home/procedurelists.css") }}">

{% endblock %}

{% block page_content %}
    <div class="panel panel-primary">
    <div class="panel-heading text-center">我的所有流程清单报表导出</div>
    <table class="table table-striped table-bordered table-hover table-responsive text-center">
        <thead class="text-center">
        <th class="text-center">序号</th>
        <th class="text-center" >流程清单名称</th>
        <th class="text-center">导出年份</th>
        <th class="text-center">导出月份</th>
        <th class="text-center">导出按钮</th>

        </thead>
{#       第一行 用车流程的报表导出界面#}
        <tr>
            <td style="vertical-align: middle !important;text-align: center;">1</td>
            <td style="vertical-align: middle !important;text-align: center;">用车流程清单</td>
            <form action="{{ url_for("home.procedurelists") }}" method="post">
                <td>
                    <select name="year1" id="year1" class="form-control">
                        <option value="2020">2020</option>
                        <option value="2021">2021</option>
                        <option value="2022">2022</option>
                    </select>

                </td>
                <td>
                    <select name="month1" id="month1" class="form-control">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                        <option value="7">7</option>
                        <option value="8">8</option>
                        <option value="9">9</option>
                        <option value="10">10</option>
                        <option value="11">11</option>
                        <option value="12">12</option>
                    </select>
                </td>
                <td>
                    <button type="submit" class="btn btn-primary" id="btn1">导出</button>
                </td>
            </form>
        </tr>
    {#       第二行 快递流程的报表导出界面#}
        <tr>
            <td style="vertical-align: middle !important;text-align: center;">2</td>
            <td style="vertical-align: middle !important;text-align: center;">快递流程清单</td>
            <form action="{{ url_for("home.packageprocedurelists") }}" method="post">
                <td>
                    <select name="year2" id="year2" class="form-control">
                        <option value="2020">2020</option>
                        <option value="2021">2021</option>
                        <option value="2022">2022</option>
                    </select>

                </td>
                <td>
                    <select name="month2" id="month2" class="form-control">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                        <option value="7">7</option>
                        <option value="8">8</option>
                        <option value="9">9</option>
                        <option value="10">10</option>
                        <option value="11">11</option>
                        <option value="12">12</option>
                    </select>
                </td>
                <td>
                    <button type="submit" class="btn btn-primary" id="bth2">导出</button>
                </td>
            </form>
        </tr>
    </table>
</div>
{% endblock %}

{% block scripts %}
      {#    插入成功提示#}
    {{ super() }}
    <script>
        $(document).ready(function () {
            $._messengerDefaults = {
                extraClasses: 'messenger-fixed messenger-theme-future messenger-on-top ',
                theme: 'flat'
            };
            {% for msg in get_flashed_messages() %}
                $.globalMessenger().post({
                    message: "{{msg}}",//提示信息
                    type: 'error',//消息类型。error、info、success
                    hideAfter: 3,//多长时间消失
                    showCloseButton: true,//是否显示关闭按钮
                    hideOnNavigate: true //是否隐藏导航
                })
            {% endfor %}
        });
    </script>
{#    向第一个用车流程发送post请求，包含年和月份#}
{#    <script>#}
{#        $(document).ready(function () {#}
{#            $("#btn1").click(function () {#}
{#                var year = $("#year1").val()#}
{#                var month = $("#month1").val()#}
{##}
{#                $.post(#}
{#                    "{{ url_for("home.procedurelists") }}",#}
{#                    JSON.stringify({#}
{#                        year: year,#}
{#                        month:month#}
{#                    })#}
{#                )#}
{#            })#}
{#        });#}
{#    </script>#}


{% endblock %}