body {
    font-family: 'Microsoft YaHei', sans-serif;

}

lvjing {
    background: rgba(0, 0, 0, 0.7);
}

#logo {
    float: left;
    margin-top: 6px;
}

.aok {
    color: whitesmoke;
}

/*全局的星号提示*/
.starinfo:after {
    content: "*";
    color: red;
    font-size: 20px;
    position: absolute;
    top: 15%;
    right: 10%;
}

/*全局的错误提示*/
.errinfo {
    color: #bf183f;
    display: block;
    text-align: center;
    background: #fdf59a;
}

/*导航条*/
.navbar-default {
    background: black;
    border: none;
    box-shadow: 0px 2px 8px 0px rgba(50, 50, 50, 0.25);
    margin-bottom: 0;
    border-radius: unset;
    margin-left: 0;
}

.navbar-default .navbar-brand {
    font-size: 25px;
    font-weight: bold;
    color: #5bc0de;
    height: 70px;
    line-height: 35px;
}

.navbar-default .navbar-nav > li {
    font-size: 16px;
    font-weight: bold;
    color: #666;
    height: 70px;
    line-height: 80px;
}

.navbar-toggle {
    margin-top: 17px;
}

.navbar-default .navbar-toggle:hover {
    border-color: #40D2B1;
    background-color: rgb(69, 210, 184);
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #1C9982;
}

#navtext {
    font-size: 17px;
    margin-top: 24px;
    font-weight: bold;
    color: #666;
}

/*导航条*/

/*#content {*/
/*    margin-top: 0px;*/
/*    padding: 0;*/
/*    border: none;*/
/*    background:url("Highspeed.jpg");*/
/*    background-size:100% 110%;*/
/*    color: white;*/

/*}*/

/*#content .row{*/
/*    margin-top: 60px;*/
/*    margin-bottom: 50px;*/
/*}*/
/*对页面内容格式进行修改*/

/*页面内的面板*/
.panel-heading {
    font-size: 20px;
}


/*包含面板的页面*/
#pagecontent {

    position: absolute;
    top: 75px;

    left: 11%;
    bottom: 20px;
    right: 0;

    overflow: auto;
    margin: 0;
    padding: 0;


}

/*对页面的表格进行更改*/
#procedureapproval {
    padding: 30px;
}

/*对模态框进行更改*/
.modal-title {
    font-weight: bolder;

}

.modal-body label {
    font-weight: 500;
    color: #666666;
    font-size: 17px;

}

/*脚部*/
#footer {
    position: absolute;
    bottom: 0;
    height: 20px;
}